.main-homepage {
  background-color: rgb(243, 204, 210);
  height: calc(100vh - 50px);
  color: white;
  display: flex;
  align-items: center;
  padding-top: 30px;
  /* justify-content: center; */
  flex-direction: column;
  background-image: url("../../Images/8.jpg");
  background-position:top;

}

.title-hp {
  color: white;
}
button {
  color: black;
}

.buttons {
  display: flex;
  gap: 20px;
  padding: 10px;
}

select {
  width: 150px;
  color: black;
  height: 50px;
  border-radius: 15px;
  padding: 8px;
}

.drop-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}
select:hover{
  background-color: rgb(93, 178, 248);
}

label {
  font-size: 20px;
  padding: 5px;
  color:rgb(243, 84, 217);
  text-shadow: 2px 2px 2px rgba(255, 255, 255,0.22);
}

.homepage-logo {
  width: 250px;
}

.title {
  font-size: clamp(1.5625rem, -1.1719rem + 8.75vw, 3.75rem);
  text-align: center;
  color: #FFFFFF;
text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
  
}
